<section>
  <h5 mat-card-title>Aggiungi uno studente</h5>
  <mat-divider></mat-divider>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input
        matInput
        id="nome"
        type="text"
        name="nome"
        placeholder="Nome"
        [formControl]="nome"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Cognome</mat-label>
      <input
        id="cognome"
        matInput
        type="text"
        name="cognome"
        placeholder="Cognome"
        [formControl]="cognome"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [max]="dataMax"
        (dateInput)="pickData($event.value)"
        t
        [formControl]="data"
      />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
  <mat-form-field appearance="fill">
    <mat-label>Sezione</mat-label>
    <mat-select id="sezione" [formControl]="sezione">
      <mat-option [disabled]="true">Sezione</mat-option>
      <mat-option *ngFor="let sezione of arraySezioni" [value]="sezione">
        {{ sezione }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    (click)="
      aggiungiStudente(nome.value, cognome.value, nascita, sezione.value)
    "
  >
    Aggiungi
  </button>
</section>
