<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Seleziona gli studenti </mat-panel-title>
    </mat-expansion-panel-header>
    <section>
      <button mat-raised-button (click)="cercaStudenti(filtraSezione.value)">
        cerca
      </button>
      <mat-form-field appearance="fill">
        <mat-label>filtra per sezione</mat-label>
        <mat-select #filtraSezione>
          <mat-option>Nessun filtro</mat-option>
          <mat-option *ngFor="let sezione of arraySezioni" [value]="sezione">
            {{ sezione }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section *ngIf="apriLista">
      <mat-selection-list
        #studenti
        (selectionChange)="selezionatiUpdate($event.source._value)"
      >
        <mat-list-option
          *ngFor="let studente of arrayStudenti"
          [value]="studente"
        >
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ studente.nome + ' ' + studente.cognome }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ 'sezione: ' + studente.sezione }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{ 'Data di nascita: ' + studente.nascita }}</p>
            </mat-expansion-panel>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            ></mat-expansion-panel>
          </mat-accordion>
        </mat-list-option>
      </mat-selection-list>
      <p *ngIf="arrayStudenti.length > 0">
        selezionati: {{ studenti.selectedOptions.selected.length }}
      </p>
    </section>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Prossimo</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Crea la nuova classe </mat-panel-title>
    </mat-expansion-panel-header>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Anno</mat-label>
        <mat-select #selectAge>
          <mat-option [disabled]="true">Anno scolastico</mat-option>
          <mat-option
            *ngFor="let sezione of arrayAnniScolastici"
            [value]="sezione"
          >
            {{ sezione }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sezione</mat-label>
        <mat-select #selectSezione>
          <mat-option [disabled]="true">Sezione</mat-option>
          <mat-option *ngFor="let sez of arraySezioni" [value]="sez">
            {{ sez }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        (click)="foo3(selectAge.value, selectSezione.value)"
      >
        Conferma
      </button>
      <mat-divider></mat-divider>
      <mat-card>{{ ok }}</mat-card>
    </section>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Indietro</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
