<mat-card-header>
  <mat-card-title>Organizza tua classe</mat-card-title>
  <mat-card-subtitle>(che per adesso è solo la 1a D)</mat-card-subtitle>
</mat-card-header>
<section>
  <mat-form-field appearance="fill">
    <mat-label>Anno</mat-label>
    <mat-select #selectAnno>
      <mat-option [disabled]="true">Anno</mat-option>
      <mat-option *ngFor="let anno of arrayAnniScolastici" [value]="anno">
        {{ anno }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Sezione</mat-label>
    <mat-select #selectSezione>
      <mat-option [disabled]="true">Sezione</mat-option>
      <mat-option *ngFor="let sezione of arraySezioni" [value]="sezione">
        {{ sezione }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    (click)="cercaAula(selectAnno.value, selectSezione.value)"
  >
    Cerca
  </button>
</section>
<mat-card *ngIf="file">
  <mat-card-header>
    <mat-card-subtitle
      >Per adesso è bruttino e funziona male... ma c'è
      speranza</mat-card-subtitle
    >

    <mat-card-subtitle
      >Ti conviene ruotare il telefono (poi sistemerò)</mat-card-subtitle
    >
  </mat-card-header>

  <div>
    <div cdkDropListGroup>
      <div class="example-container">
        <h2>To do</h2>

        <div
          cdkDropList
          [cdkDropListData]="todo"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of todo" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>

      <div class="example-container">
        <h2>Done</h2>

        <div
          cdkDropList
          [cdkDropListData]="done"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of done" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
    </div>
    <mat-grid-list cols="5" row="5" rowHeight="2:1" cdkDropListGroup>
      <mat-grid-tile *ngFor="let i of arr"></mat-grid-tile>
    </mat-grid-list>
  </div>

  <button mat-raised-button (click)="foo()">Salva(ma funziona male)</button>
</mat-card>
