<section>
  <mat-form-field appearance="fill">
    <mat-label>Anno</mat-label>
    <mat-select #selectAnno>
      <mat-option [disabled]="true">Anno</mat-option>
      <mat-option *ngFor="let anno of arrayAnniScolastici" [value]="anno">
        {{ anno }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Sezione</mat-label>
    <mat-select #selectSezione>
      <mat-option [disabled]="true">Sezione</mat-option>
      <mat-option *ngFor="let sezione of arraySezioni" [value]="sezione">
        {{ sezione }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    (click)="cercaAula(selectAnno.value, selectSezione.value)"
  >
    Cerca
  </button>
</section>
<mat-card *ngIf="arrayStudenti">
  <div class="example-container">
    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      #fila1="cdkDropList"
      [cdkDropListData]="arrayStudenti"
      [cdkDropListConnectedTo]="[fila2, fila3]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let studente of arrayStudenti" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

        {{ studente.nome }}
      </div>
    </div>
  </div>

  <div class="example-container">
    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      #fila2="cdkDropList"
      [cdkDropListData]="arrayStudenti2"
      [cdkDropListConnectedTo]="[fila1, fila3]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let studente of arrayStudenti2" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

        {{ studente.nome }}
      </div>
    </div>
  </div>
  <div class="example-container">
    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      #fila3="cdkDropList"
      [cdkDropListData]="arrayStudenti3"
      [cdkDropListConnectedTo]="[fila1, fila2]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let studente of arrayStudenti3" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

        {{ studente.nome }}
      </div>
    </div>
  </div>
</mat-card>
