<section>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Studente</mat-label>
      <input
        #nomeStudente
        matInput
        type="text"
        name="nomeStudente"
        placeholder="Inserisci il nome"
      />
    </mat-form-field>
    <p mat-card-content *ngIf="errore">{{ errore }}</p>
  </form>
  <button mat-raised-button (click)="cercaStudente(nomeStudente.value)">
    Cerca
  </button>
  <mat-card-subtitle
    >Cerca per nome,SOLO nome: devi conoscere il nome da cercare (eh
    beh)</mat-card-subtitle
  >
  <p>{{ studente }}</p>
</section>
<section>
  <mat-form-field appearance="fill">
    <mat-label>Cerca una sezione</mat-label>
    <mat-select #selectSezione>
      <mat-option [disabled]="true">Sezione</mat-option>
      <mat-option *ngFor="let sezione of arraySezioni" [value]="sezione">
        {{ sezione }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="cercaSezione(selectSezione.value)">
    Cerca
  </button>
  <mat-card-subtitle>
    Serve a poco, per adesso sono tutti in D, se vuoi puoi creare una nuova
    classe in "imposta classe", assegnargli gli studenti e metterli nella
    sezione che vuoi tutti insieme</mat-card-subtitle
  >
  <mat-card-subtitle>
    Oppure aggiungi uno studente e gli dai la sezione che ti interessa, ma
    dovrai comunque creare la classe per visualizzarla nella pagina "Classi"
  </mat-card-subtitle>
  <mat-selection-list #studentiList [multiple]="false">
    <mat-list-option *ngFor="let studente of studenti" [value]="studente">
      {{ studente.nome }}
    </mat-list-option>
  </mat-selection-list>
  <p>{{ studentiList.selectedOptions.selected[0]?.value.nome }}</p>
</section>
